{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Staff Member{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="first_name">First Name</label>
    <input name="first_name" id="first_name" value="{{ request.form['first_name'] }}" required>
    <label for="last_name">Last Name</label>
    <input name="last_name" id="last_name" value="{{ request.form['last_name'] }}" required>
    <label for="preferred">Preferred</label>
    <input name="preferred" id="preferred" value="{{ request.form['preferred'] }}" required>
    <label for="job_role">Job Role</label>
    <input name="job_role" id="job_role" value="{{ request.form['job_role'] }}" required>
    <label for="email">Email Address</label>
    <input name="email" id="email" value="{{ request.form['email'] }}" required>
    <label for="extension_number">Extension Number</label>
    <input name="extension_number" id="extension_number" value="{{ request.form['extension_number'] }}">
    <label for="system_administrator"> System Administrator </label>
    <select name="system_administrator" id="system_administrator">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <label for="department_id"> Department </label>
    <select name="department" id="department">
      <option value="Advertising">Advertising</option>
      <option value="Recruitment">Recruitment</option>
      <option value="Marketing">Marketing</option>
    </select>
    <input type="submit" value="Save">
  </form>
{% endblock %}