{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
    <h1>{% block title %} Staff Directory {% endblock %}</h1>
    {% if staff_members %}
      {% if my_staff_member['system_administrator'] == 1 %}
      <a class="action" href="{{ url_for('directory.create') }}">Create New Staff Member</a>
      <a class="action" href="{{ url_for('directory.delete') }}">Delete Staff Member</a>
      {% endif %}
      <a class="action" href="{{ url_for('directory.update',  id=g.user['staff_id']) }}">Update my details</a>
      <a class="action" href="{{ url_for('directory.change_password', id=g.user['staff_id']) }}">Change Password</a>
    {% endif %}

  {% endif %}
{% endblock %}

{% block content %}
  {% if not g.user %}
  <h1>Welcome to the Staff Directory</h1>
  <h2>New users:</h2>
  <h3>New Users should click Register to create an account</h3>
  <h3>Existing Users should select the Login tab above</h3>
  {% endif %}
  <div class="center">
    {% if g.user %}
      <h1>Welcome to the Staff Directory {{g.user['first_name']}}</h1>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="15%"> Title </th>
            <th width="15%"> First Name </th>
            <th width="15%"> Preferred </th>
            <th width="15%"> Last Name </th>
            <th width="15%"> Email </th>
            <th width="15%"> Job Role </th>
            <th width="15%"> Extension Number </th> 
            <th width="15%"> Department </th> 
          </tr>
        </thead>
        <tbody>
        {% for staff_member in staff_members %}
          <tr>
            <td> {{ staff_member.title }} </td>
            <td> {{ staff_member.first_name }} </td>
            <td> {{ staff_member.preferred }} </td>
            <td> {{ staff_member.last_name }} </td>
            <td> {{ staff_member.email }} </td>
            <td> {{ staff_member.job_role }} </td>
            <td> {{ staff_member.extension_number }} </td>
            {% if staff_member['in_department'] == 1%} 
              <td> Advertising </td>
            {% endif %}
            {% if staff_member['in_department'] == 2%} 
              <td> Recruitment </td>
            {% endif %}
            {% if staff_member['in_department'] == 3%} 
              <td> Marketing </td>
            {% endif %}
          </tr> 
        {% endfor %}

      {% endif %}
      </tbody>
    </table>
  </div>
  </hr>
{% endblock %}