{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ staff_member['preferred'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or staff_member['title'] }}" required>
    <label for="preferred">Preferred</label>
    <textarea name="preferred" id="preferred">{{ request.form['preferred'] or staff_member['preferred'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=staff_member['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}