{% extends 'base.html' %}

{% block header %}
  <h1>Connect with colleagues</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('connections.create') }}">Create New Post</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <p class="body">{{ post['body'] }}</p>
        </div>
        <div class="about">  posted by {{ post['username'] }} in {{ department['department_name'] }} posted on {{ post['posted_on'] }} </div>
        {% if g.user['id'] == post['created_by'] %}
        <a id ='post-change' class="action" href="{{ url_for('connections.update', id=post['id']) }}">Edit</a>
        <a id ='post-change' class="action" href="{{ url_for('connections.delete', id=post['id']) }}">Delete</a>
        {% endif %}
        {% if current_staff_member['system_administrator'] == 1 and g.user['id'] != post['created_by'] %}
        <a id ='post-change' class="action" href="{{ url_for('connections.delete', id=post['id']) }}">Delete</a>
        {% endif %}
    </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}